@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: "Plus Jakarta Sans", sans-serif;
    --color-primary: #2E6F82;
    --color-primary-hover: #095769;
    --color-bg-light: #FAF8FF;
    --color-bg-dark: #F2F3FF;
    --color-subtext: #40484B;
    --color-judul: #131B2E;
    --color-border-custom: #BFC8CC;
}
